<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
 <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>
 <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30"/>
 <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:maxSdkVersion="30"/>
 <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" android:maxSdkVersion="30"/>
 <uses-permission android:name="android.permission.BLUETOOTH_SCAN" android:usesPermissionFlags="neverForLocation" tools:targetApi="31"/>
 <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>
 <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
 <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE"/>
 <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
 <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
 <queries><package android:name="com.apple.android.music"/></queries>
 <application android:icon="@drawable/ic_note" android:dataExtractionRules="@xml/data_extraction_rules" android:label="Now Playing" android:allowBackup="false" android:fullBackupContent="@xml/backup_rules" android:supportsRtl="true" android:theme="@android:style/Theme.Material.Light.NoActionBar">
  <activity android:name=".MainActivity" android:exported="true"><intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter><intent-filter><action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES"/><category android:name="android.intent.category.DEFAULT"/></intent-filter></activity>
  <activity android:name=".TileStartActivity" android:exported="false" android:excludeFromRecents="true" android:taskAffinity="" android:theme="@android:style/Theme.Material.Light.Dialog.NoActionBar"/>
  <service android:name=".NowPlayingTileService" android:exported="true" android:label="@string/ui_1" android:icon="@drawable/ic_tile_note" android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
   <intent-filter><action android:name="android.service.quicksettings.action.QS_TILE"/></intent-filter>
   <meta-data android:name="android.service.quicksettings.TOGGLEABLE_TILE" android:value="true"/>
  </service>
  <service android:name=".BridgeService" android:exported="false" android:foregroundServiceType="connectedDevice"/>
  <service android:name=".MediaAccessService" android:exported="true" android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"><intent-filter><action android:name="android.service.notification.NotificationListenerService"/></intent-filter></service>
 </application>
</manifest>
